body{
	font-family: sans-serif;
}

input{
	width: 40px;
	border-radius: 8px
}

#title{
	width: 120px;
}

#mons{
	background: #eeeeee;
}

.move{
	border: 1px solid black;
	background: #e9e9e9;
	height: 25px;
	width: 200px;
	
}

#mon1move1{
	border-radius: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#mon1move4{
	border-radius: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#mon2move1{
	border-radius: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#mon2move4{
	border-radius: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.move:hover{
	background: #d3d3d3;
}

#total{
	width: 40px;
}

#modifiers{
	width: 40px;
}

#mon1{
	position: absolute;
	right: 60%;
	padding: 25px;
	width: 400px;
	max-width: 400px;
}

#monName{
	font-family: sans-serif;
	text-align: center;
	border-radius: 40px;
	margin-top: 20px;
	border-radius: 40px;
	color: white;
	padding: 5px;
	width: 100px;
	display: inline-block;
}

#types{
	display: inline-block;
	float: right;
}

#typeOne{
	margin-top: 20px;
	border-radius: 40px;
	color: white;
	text-align: center;
	padding: 5px;
	width: 70px;
	display: inline-block;
}

#typeTwo{
	margin-top: 20px;
	color: white;
	text-align: center;
	border-radius: 40px;
	padding: 5px;
	width: 70px;
	display: inline-block;
}

#mon2{
	position: relative;
	left: 60%;
	padding: 25px;
	max-width: 400px;
}

#monName2{
	font-family: sans-serif;
	text-align: center;
	border-radius: 40px;
	margin-top: 20px;
	border-radius: 40px;
	color: white;
	padding: 5px;
	width: 100px;
	display: inline-block;
}

#typeOne2{
	margin-top: 20px;
	border-radius: 40px;
	color: white;
	text-align: center;
	padding: 5px;
	width: 70px;
	display: inline-block;
}

#typeTwo2{
	margin-top: 20px;
	color: white;
	text-align: center;
	border-radius: 40px;
	padding: 5px;
	width: 70px;
	display: inline-block;
}

#types2{
	display: inline-block;
	float: right;
}