body{
	font-family: sans-serif;
}

input{
	width: 40px;
	background-color: white;
}

#title{
	width: 120px;
}

#modifiers{
	width: 65px;
	background-color: white;
}

#mon1{
	position: absolute;
  	top: 100px;
  	left:200px;
  	background-color: lightgrey;
}

#monName{
	background-color: #A7DB8D;
	font-family: sans-serif;
	text-align: center;
}

#typeOne{
	background-color: #78C850;
	color: white;
	text-align: center;
}

#typeTwo{
	background-color: #A040A0;
	color: white;
	text-align: center;
}

#mon2{
	position: absolute;
  	right: 200px;
  	top: 100px;
  	float: right;
}
