body{
	font-family: sans-serif;
}

input{
	width: 40px;
}

#title{
	width: 120px;
}

#total{
	width: 40px;
}

#modifiers{
	width: 40px;
}

#mon1{
	position: absolute;
	top: 100px;
	left: 200px;
	background-color: #d3d3d3;
	padding: 25px;
}

#monName{
	font-family: sans-serif;
	text-align: center;
	border-radius: 40px;
	margin-top: 20px;
	border-radius: 40px;
	color: white;
	background: green;
	padding: 5px;
	width: 100px;
	display: inline-block;
}

#types{
	display: inline-block;
	float: right;
}

#typeOne{
	background-color: black;
	margin-top: 20px;
	border-radius: 40px;
	color: white;
	text-align: center;
	padding: 5px;
	width: 70px;
	display: inline-block;
}

#typeTwo{
	margin-top: 20px;
	background-color: #A040A0;
	color: white;
	text-align: center;
	border-radius: 40px;
	padding: 5px;
	width: 70px;
	display: inline-block;
}

#mon2{
	position: absolute;
	top: 100px;
	left: 800px;
	background-color: #d3d3d3;
	padding: 25px;
	float: right;
}

#monName2{
	font-family: sans-serif;
	text-align: center;
	border-radius: 40px;
	margin-top: 20px;
	border-radius: 40px;
	color: white;
	background: black;
	padding: 5px;
	width: 100px;
	display: inline-block;
}

#typeOne2{
	background: black;
	margin-top: 20px;
	border-radius: 40px;
	color: white;
	text-align: center;
	padding: 5px;
	width: 70px;
	display: inline-block;
}

#typeTwo2{
	margin-top: 20px;
	background: black;
	color: white;
	text-align: center;
	border-radius: 40px;
	padding: 5px;
	width: 70px;
	display: inline-block;
}

#types2{
	display: inline-block;
	float: right;
}